.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-right-enter-active {
  animation: slide-right-in 2.5s;
}

.slide-right-leave-active {
  animation: slide-right-out 2.5s;
}

.slide-left-enter-active {
  animation: slide-left-in 2.5s;
}

.slide-left-leave-active {
  animation: slide-left-out 2.5s;
}

@keyframes slide-right-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-left-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
